/* Custom scrollbar for news list */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #020617;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #020617;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 999px;
  }
  